@import "../../styles/variables";

.services {
    .service_box {
        flex-wrap: wrap;
        .service_content {
            width: 25%;
            text-align: center;
            padding: 0 3.75rem;
            margin-bottom: 2rem;
            // &:nth-child(1),
            // &:nth-child(2),
            // &:nth-child(3),
            // &:nth-child(4) {
            //     margin-bottom: 2rem;
            // }
            .service_title {
                margin: 1rem 0;
                font-weight: 500;
            }
            .service_description {
                line-height: 1.5;
                color: $d_font;
            }
        }
    }
}
