@import "../../styles/variables";

.counselor {
    .breadcrumb {
        margin-bottom: 1rem;
        span {
            margin: 0 0.5rem;
        }
    }
    .top_box {
        width: 100%;
        position: relative;
        .img_box {
            border: 1px solid #e0e0e0;
            position: relative;
            width: 30%;
            overflow: hidden;
            img {
                position: absolute;
                width: 100%;
            }
        }
        .txt_box {
            border: 1px solid #e0e0e0;

            width: calc(70% - 2rem);
            padding: 2.5rem;
            .level {
                color: $primary;
                font-weight: 600;
            }
            .name {
                margin: 0.5rem 0 2rem;
                font-weight: 500;
                font-size: 1.75rem;
                line-height: 2rem;
                .point {
                    margin-left: 0.5rem;
                    font-size: 0.875rem;
                    svg {
                        color: $yellow;
                        margin-right: 0.25rem;
                    }
                }
            }
            .career_box {
                line-height: 1.75rem;
                margin-bottom: 2rem;
                font-weight: 500;
            }
            .long_info {
                color: #666;
                line-height: 1.75rem;
            }
            .youtube_btn {
                margin-top: 2rem;
                text-align: left;
                font-size: 1rem;
                line-height: 2rem;
                svg {
                    color: $primary;
                    width: 2rem;
                    height: 2rem;
                    margin-right: 0.5rem;
                }
                // font-weight: 700;
            }
        }
    }
    .scheduler_box {
        .sub_title {
            font-size: 1rem;
            font-weight: 500;
            padding-bottom: 1rem;
            border-bottom: 1px solid #d0d0d0;
            margin-top: 3rem;
        }
    }
    .payment_box {
        margin: 2rem 0;
        border-top: 1px solid #d0d0d0;

        padding: 1rem 0;
        line-height: 2.25rem;
        .point {
            font-weight: 700;
        }
        .pay_btn {
            margin-left: 1rem;
            width: 7.5rem;
            font-size: 0.875rem;
            background: $primary;
            color: #fff;
            height: 2.25rem;
            &:disabled {
                cursor: not-allowed;
                background: #b0b0b0;
            }
        }
    }
}
