@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");

@import "./styles/variables";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
html,
body,
#root {
    position: relative;
    width: 100%;
}
body {
    font-family: "Lato", "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1;
    color: #333;
    letter-spacing: 0.5px;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

// input {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
// }

input::-ms-clear {
    display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    color: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
}
a:hover,
a:focus {
}
a:link,
a:active,
a:visited {
    text-decoration: none;
    border: 0px;
}

* {
    box-sizing: border-box;
}

svg {
    vertical-align: middle;
}

.flex_box {
    display: flex;
    flex-wrap: wrap;
    &.between {
        justify-content: space-between;
    }
}

.layout {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.center_box {
    position: absolute;
    top: 50%;
    &.x {
        transform: translateX(-50%);
    }
    &.y {
        transform: translateY(-50%);
    }
    &.x.y {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.section {
    padding: 5rem 0;
    text-align: center;
    .section_name {
        margin-bottom: 0.75rem;
        font-weight: 700;
        color: $primary;
    }
    .section_title {
        font-size: 1.875rem;
        font-weight: 500;
        // font-family: "Noto Serif KR", serif;
        margin-bottom: 4.5rem;
    }
}

.container {
    width: 100%;
    min-height: calc(100vh - 6.375rem);
    padding-top: 8.5rem;
    padding-bottom: 2rem;
}

.input_box {
    width: 100%;
    margin: 1rem 0;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
    svg {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.5rem;
        color: $d_font;
    }
    input {
        width: 100%;
    }
}

input[type="text"] {
    padding: 0.25rem;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    outline: none;
    &:focus {
        border-bottom: 1px solid $primary;
    }
}
input[type="radio"] {
    margin: 0;
}
